#contenedor{
	border: 1px solid grey;
	width: 800px;
	overflow: hidden;
}
.caja{
	width: 25%;
	height: 100px;
}
.uno{
	background-color: #FFFF00;
}
.dos{
	background-color: #3A81BA;
}
.tres{
	background-color: #ED2251;
}